doctype
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='/layout.css')
    body
    .container
      h2 Login
      form(action='/auth/login' method='post')
        .form-group
          div Email
          div
            input#memId.form-control(type='text' placeholder='email' name='memId' required='')
          div
            a(href='findId.me') forgot id?
        .form-group
          div 비밀번호
          div
            input#memPwd.form-control(type='password' placeholder='password' name='memPwd' required='')
          div
            a(href='findPwdForm.me') forgot password?
        table
          tbody
            tr
              td
                button.btn.btn-primary(type='submit') Login
              td
                a.btn.btn-primary(href='/join') Join
            if loginError
                .error-message= loginError
      
      block content